@font-face {
  font-family: 'SuisseIntl';
  src: url('./SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('./SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('./SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}